.App {
  text-align: center;
}
.page{

  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #548052;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.d-flex{
  display: flex;
}
.d-flex-colum{
  flex-direction: column;
}
.align-item-center{
  align-items: center;
}
.divider{
  width: 100%;
  height: 1px;
  background-color: rgb(133, 125, 125);
}
.gap-16{
  gap:16px
}
.padding-24{
  padding: 24px;
}
.upload{
  display: flex;
  flex-direction: column;
  gap:16px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.upload button{
  width:320px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #548052;
  background-color: #548052;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Bilders{
  font:Arial 23px;
}
.bider-upload{
  width: 120px;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  background-color: #548052;
  cursor: pointer;
  position: relative;
}
.bider-upload span{
  position: absolute;
  top:9px;
  left: 15px;
}
.bider-upload input{
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.sucess-message{
  width:400px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #548052;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #548052;
}


input[type="checkbox"] {
  line-height: 2.1ex;
  width: 20px !important;
  height: 20px !important;
}